[**@laag/smithy v1.0.0-alpha.0**](../README.md)

***

[@laag/smithy](../globals.md) / ValidationResult

# Interface: ValidationResult

Defined in: [smithy/src/types.ts:518](https://github.com/bschwarz/laag/blob/main/packages/smithy/packages/smithy/src/types.ts#L518)

Validation result type

## Properties

### isValid

> **isValid**: `boolean`

Defined in: [smithy/src/types.ts:520](https://github.com/bschwarz/laag/blob/main/packages/smithy/packages/smithy/src/types.ts#L520)

Whether validation passed

***

### errors?

> `optional` **errors**: [`ValidationError`](ValidationError.md)[]

Defined in: [smithy/src/types.ts:522](https://github.com/bschwarz/laag/blob/main/packages/smithy/packages/smithy/src/types.ts#L522)

Validation errors
