[**Laag Library Collection**](../../../README.md)

***

[Laag Library Collection](../../../modules.md) / [smithy/src](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [packages/smithy/src/types.ts:518](https://github.com/bschwarz/laag/blob/2efb78c681fb20640fcb7692d4ecbc92c0afa33c/packages/smithy/src/types.ts#L518)

Validation result type

## Properties

### isValid

> **isValid**: `boolean`

Defined in: [packages/smithy/src/types.ts:520](https://github.com/bschwarz/laag/blob/2efb78c681fb20640fcb7692d4ecbc92c0afa33c/packages/smithy/src/types.ts#L520)

Whether validation passed

***

### errors?

> `optional` **errors**: [`ValidationError`](ValidationError.md)[]

Defined in: [packages/smithy/src/types.ts:522](https://github.com/bschwarz/laag/blob/2efb78c681fb20640fcb7692d4ecbc92c0afa33c/packages/smithy/src/types.ts#L522)

Validation errors
